.nav {
    grid-area: n;
    background-color: darkblue;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}
.item a{
    color: cornsilk;
    text-decoration: none;
}
.item a.activeLink {
    color: greenyellow;
}